{% set route_name = app.request.get('_route') %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url('app_index') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Meme bot</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if route_name == 'app_index' %}active{% endif %}">
        <a class="nav-link" href="{{ url('app_index') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Memes
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item {% if route_name == 'meme_add' %}active{% endif %}">
        <a class="nav-link" href="{{ url('meme_add') }}">
            <i class="fas fa-fw fa-plus"></i>
            <span>Upload new</span></a>
    </li>

    <li class="nav-item {% if route_name == 'memes_queue' %}active{% endif %}">
        <a class="nav-link" href="{{ url('memes_queue') }}">
            <i class="fas fa-list-ol"></i>
            <span>Upload queue</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>